@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap");

/* #region ELEMENTS STYLING */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans Display", serif;
}
::selection {
  background-color: rgb(112, 226, 255);
  color: black;
}

html {
  scroll-behavior: smooth;
}
html:root {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 0.75vw;
}
html::-webkit-scrollbar-thumb {
  background-color: #6073eeda;
  border-radius: 12px;
}
html::-webkit-scrollbar-track {
  background-color: #57ebeb52;
}
body {
  background-color: #57ebeb52;
  transition: background-color 300ms ease;
}
span {
  font-weight: bold;
}

button {
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px #050b4183;
  border: none;
  transition-property: box-shadow, transform, filter, background-color, color;
  transition-duration: 150ms, 150ms, 300ms, 300ms, 300ms;
  transition-timing-function: ease-in-out;
}
button:hover:active {
  transform: translateY(1px);
  box-shadow: none;
}
input:focus {
  outline: none;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
  font-weight: 900;
}
h4 {
  font-size: 16px;
  font-weight: 700;
}
p {
  font-size: 16px;
  font-weight: 450;
}
a {
  text-decoration: none;
  color: black;
}
nav {
  background-color: #6073eeda;
}
li {
  list-style-type: none;
}
/* #endregion */
/* #region CustomElements */
.clickable {
  cursor: pointer;
}
.nope {
  cursor: not-allowed;
}
.primary {
  color: #3543a0;
}
.fa-spinner {
  animation: spinner 650ms linear infinite;
}
.show {
  opacity: 1;
  visibility: visible;
}
.hide {
  opacity: 0;
  visibility: hidden;
}
.noscroll {
  overflow: hidden;
}
.remove {
  display: none;
}
.add {
  display: block;
}
/* #endregion */
/* #region BodyStyling */
.banner__container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}
.banner1,
.banner2,
.banner3,
.banner4,
.banner5 {
  position: fixed;
  width: 20%;
  z-index: -1;
  top: 0;
  opacity: 0.1;
  filter: grayscale(1);
}
.banner1 {
  left: 0;
}
.banner2 {
  right: 0;
}
.banner3 {
  left: 19.5%;
}
.banner4 {
  right: 19.5%;
}
.banner5 {
  right: 40%;
  left: 40%;
  transform: scaleX(1.1);
}
/* #endregion */
/* #region INTRO PAGE */
/* #region INTRO Navbar */
.intro-nav {
  display: flex;
  max-width: 1920px;
  margin: 0 auto;
  border-radius: 0 0 12px 12px;
  box-shadow: 0 8px 24px #1a2042da;
  align-items: center;
  font-weight: 600;
  font-size: 24px;
  transition: all 300ms ease;
}
.intro-nav a {
  transition: all 300ms ease;
}
.intro__nav--links {
  display: flex;
  padding: 12px 32px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.intro__nav--link {
  padding: 12px;
}
/* #endregion */
/* #region INTRO Search Box */

#landing-page {
  visibility: visible;
  opacity: 1;
}
.intro__search-box--container {
  padding: 60px 0;
  transition: opacity 300ms ease;
}
.intro__search-box--row {
  padding: 0 60px;
}
.intro__search-box--image {
  width: 100%;
  height: 100%;
  opacity: 0;
  object-fit: cover;
  animation: fadeIn 600ms ease forwards;
}
.intro__search-box--image-skeleton {
  aspect-ratio: 1102.77 / 800;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #ddd;
  background-image: linear-gradient(
    90deg,
    #6471bb 0px,
    #7281d2 50%,
    #6471bb 100%
  );
  background-size: 200% 100%;
  animation: pulse 1.5s infinite linear;
  position: absolute;
}
.intro__search-box-image--wrapper {
  position: absolute;
  top: 50%;
  display: flex;
  right: 0;
  height: 100%;
  width: 100%;
  transform: translateY(-50%);
}
.intro__search-box--cover {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 110%;
  height: 110%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(
    to right,
    #252347 43%,
    #3f3a3aa2 75%,
    #322d4b38
  );
}
.intro__search-box--box {
  position: relative;
  margin: 0 auto;
  max-width: 1400px;
  color: white;
  padding: 72px;
  padding-bottom: 72px;
  border-radius: 48px;
  box-shadow: 0 12px 24px #19172fc9;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  transition: box-shadow 300ms ease;
}
.intro__search-box--contents {
  display: flex;
  flex-direction: column;
  width: 55%;
  z-index: 1;
}
.intro__search-box--search-bar {
  display: flex;
  align-items: center;
  transition: all 300ms ease;
}
.intro__search-box--search-bar input {
  width: 100%;
  border: none;
  font-size: 24px;
  padding: 16px;
  font-weight: 500;
  border-radius: 8px;
  transition: all 300ms ease;
}
.intro__search-box--search-bar input:focus,
.home__searchbar2 input:focus,
.home__searchbar input:focus {
  border: 2px solid #0059ff;
  color: #303030;
}
.intro__search-box--search-bar::placeholder,
.home__searchbar2::placeholder,
.home__searchbar::placeholder {
  font-weight: 400;
}
.intro__search-bar--btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  font-size: 32px;
  font-weight: bold;
  padding: 20px;
  border-radius: 16px;
}
.intro__search-bar--btn,
.intro__search-box--btn {
  background-color: #3646acda;
  color: white;
  transition: all 300ms ease;
}
.intro__search-bar--btn:hover,
.intro__search-box--btn:hover {
  background-color: #2a3badda;
}
.intro__search-box--btn:hover .arrow--wrapper {
  color: #2a3badda;
}

.intro__search-box--btn {
  margin-top: 20px;
  display: flex;
  font-size: 24px;
  font-weight: 650;
  letter-spacing: 0.075em;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  max-width: 280px;
}

.arrow--wrapper {
  padding: 6px 8px;
  margin-left: 32px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3646acda;
  border-radius: 50%;
  transition: all 300ms ease;
}

.arrow--wrapper .fa-arrow-right {
  font-size: 24px;
  transition: color 300ms ease;
}

.intro__search-box--desc {
  margin: 12px 0;
  width: 80%;
  line-height: 2;
  font-weight: 450;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
   line-clamp: 5;
  -webkit-box-orient: vertical;
  transition: all 300ms ease;
}
/* #endregion */
/* #region INTRO Info */

.intro__info--container {
  padding: 72px 0;
  transition: opacity 300ms ease;
}
.intro__info--row {
  padding: 0 52px;
}
.intro__info-box--box {
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 60px;
  background-color: #c8c5fc69;
  max-width: 1200px;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 300ms ease;
}

.intro__info-box--contents {
  display: flex;
}
.info-box__contents--info {
  padding: 40px 60px;
  width: 65%;
}
.intro__info-box--contents .intro__info-box--post-box {
  width: 35%;
}
.contents__info--title {
  margin-bottom: 12px;
  transition: color 300ms ease;
}

.contents__info--list-title {
  margin: 16px 0;
  margin-left: 24px;
  transition: color 300ms ease;
}
.contents__info--para {
  margin: 8px 0;
  font-size: 20px;
  transition: color 300ms ease;
}

/* #region REUSABLE POSTS BOX */

.post-box {
  width: 40%;
}

.post-box__title {
  margin-top: 20px;
  margin-bottom: 28px;
  transition: color 300ms ease;
}

.post-box__posts {
  margin-right: 8px;
}

.post-box__post {
  background-color: #b1c0ed91;
  padding: 20px 24px;
  padding-top: 8px;
  border-radius: 28px;
  margin-bottom: 12px;
  transition: all 300ms ease;
}
.post-box__post--stats {
  display: flex;
  justify-content: space-between;
}
.post-box__post--stat-1,
.post-box__post--stat-2 {
  display: flex;
  align-items: center;
  font-weight: 500;
  transition: all 300ms ease;
}
.post-box__post--stat-1 {
  gap: 12px;
  color: #3a3a3d;
}
.post-box__post--stat-2 {
  gap: 4px;
  font-size: 18px;
  padding: 16px;
  transition: color 300ms ease;
}
.post-box__post--stat-2:hover {
  color: #1329b4;
}

.post-box__post--stat-2:hover .fa-comment {
  animation: bounce 375ms ease-in-out infinite;
  animation-delay: 300ms;
}
.post-box__post--title {
  margin: 4px 0;
  transition: color 300ms ease;
}
.post-box__post--para {
  color: #3a3a3d;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
   line-clamp: 3;
  -webkit-box-orient: vertical;
  transition: color 300ms ease;
}

.profile__info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 12px 0;
  gap: 4px;
  max-width: 200px;
}
.profile__img--wrapper {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.profile__img {
  height: 100%;
  width: 100%;
}

.profile__username {
  font-size: 18px;
  font-weight: 500;
  color: #363639;
  transition: color 300ms ease;
}

.profile__info:hover .profile__username {
  color: #1329b4;
}

.post-box__btn {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  align-items: center;
  font-size: 20px;
  padding: 12px;
  width: 100%;
  box-shadow: 0 4px 8px #050b4167;
  background-color: #b1c0ed91;
  border-radius: 50px;
}

.post-box__btn:hover {
  filter: brightness(1.02);
}

/* #endregion */

/* #endregion */

/* #endregion */
/* #region HOME PAGE */
/* #region HOME Navbar */
/* #region HOME NavbarMenu */

.nav__menu--btn {
  background-color: transparent;
  box-shadow: none;
  font-size: 24px;
  padding: 0;
}
.nav__menu--btn:focus {
  animation: spinner 300ms ease;
}

.menu__btn--container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__menu--backdrop {
  position: fixed;
  background-color: #384491cc;
  top: 0;
  left: 0;
  right: 80%;
  bottom: 0;
  border-radius: 0 24px 24px 0;
  padding: 32px 60px;
  transform: translateX(-110%);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease;
}
.nav__menu--open {
  opacity: 1;
  visibility: visible;
  transform: translateX(0%);
}
.nav__menu--bg {
  position: relative;
  height: 100%;
  border-radius: 0 16px 16px 0;
  background-color: #89a9e9c2;
  box-shadow: 0px 0px 32px 24px #8fb0f1c2;
  display: flex;
  justify-content: center;
}

.nav__menu--links {
  padding: 20px 0;
  transition: all 300ms ease;
}
.nav__menu--link {
  margin: 20px 0;
  display: inline-block;
}
.nav__menu--links .link__hover-effect:after {
  bottom: 0px;
}

.nav__menu--link-box {
  font-size: 20px;
  font-weight: 500;
}
.nav__menu--close {
  position: absolute;
  top: 14px;
  left: 15px;
  padding: 8px;
  background-color: transparent;
  box-shadow: none;
  font-size: 24px;
  z-index: 1;
}
/* .nav__menu--close:focus .nav__menu--btn {
  animation: spinner 300ms reverse;
} */
/* #endregion */

.home__nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  box-shadow: 0 8px 24px #1a2042da;
  border-radius: 0 0 8px 8px;
  background: #001ccf69;
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
  border: 1px solid #6073eeda;
  transition: all 300ms ease;
}

.community__title,
.languages__title {
  transition: all 300ms ease;
}

/* .home__nav--glass {
  position: absolute;

} */

.nav__group {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 20px;
}
.nav__group .logo__diamond {
  height: 24px;
  width: 24px;
  margin: 4px;
  border-radius: 4px;
}
.nav__group .anime__title {
  font-size: 28px;
  color: white;
  text-shadow: 0.05em 0.02em black;
  margin: 0 12px;
  cursor: pointer;
}
.home__searchbar2,
.home__searchbar {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1000px;
  transition: all 300ms ease;
}
.home__searchbar2 {
  display: none;
}
.home__searchbar2 input,
.home__searchbar input {
  border-radius: 4px;
  width: 100%;
  border: none;
  font-weight: 500;
  padding: 8px;
  transition: all 300ms ease;
}
.home__search--btn {
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  transition: all 300ms ease;
}
.home__search--btn:hover {
  background-color: #dadada7c;
}
.home__search--btns2,
.home__search--btns {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-10%, -50%);
  display: flex;
  align-items: center;
}
.search__filter--btns2,
.search__filter--btns {
  /* position: absolute; */
  margin-left: 4px;
  padding: 4px;
  color: white;
  background-color: black;
  border-radius: 4px;
  box-shadow: 0px 0px 4px;
}

.search__filter--btns2 .fa-filter,
.search__filter--btns .fa-filter {
  display: none;
}

.search__btn {
  padding: 4px 6px;
  background-color: rgba(128, 112, 216, 0.866);
  border-radius: 6px;
  max-width: 88px;
  margin: 0 8px;
  display: none;
}

.home__social--links {
  display: flex;
  column-gap: 4px;
  margin: 0 12px;
}
.home__social--link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  padding: 8px;
  border-radius: 50%;
  color: white;
  background-color: gray;
}
.home__social--link:nth-child(1) {
  background-color: #5865f2;
}
.home__social--link:nth-child(2) {
  background-color: #4768b5;
}
.home__social--link:nth-child(3) {
  background-color: black;
}
.home__social--link:nth-child(4) {
  background-color: #f34700;
}
.home__language--toggle {
  min-width: 72px;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
.home__languages {
  display: flex;
  justify-content: center;
}
.home__language {
  padding: 2px 8px;
  font-size: 8px;
}
.home__language:first-child {
  border-radius: 4px 0 0 4px;
  background-color: purple;
  color: white;
}
.home__language:last-child {
  border-radius: 0px 4px 4px 0;
  background-color: gray;
}
.home__language--toggle,
.home__community {
  font-size: 12px;
  font-weight: 550;
}
.home__community {
  margin: 0 12px;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
}
.nav__group .theme__toggle {
  font-size: 24px;
}
.login {
  background-color: #ac7ff5;
  font-weight: 600;
  padding: 8px 12px;
  border-radius: 4px;
  margin-left: 20px;
  cursor: not-allowed;
}
.login:hover {
  filter: brightness(1.05);
}
.login:hover:active {
  filter: brightness(0.95);
}

/* #endregion */
/* #region HOME AnimeTab */

.home__container {
  padding-top: 24px;
  padding-bottom: 60px;
  background-color: #4b43e22c;
  box-shadow: 4px 4px 8px 32px #4b43e22c;
  transition: all 300ms ease;
  opacity: 1;
  visibility: visible;
}
.hide {
  opacity: 0;
  visibility: hidden;
}
.home__row {
  padding: 0 32px;
}
.anime-tab {
  border-radius: 24px;
  padding: 60px 0;
  display: flex;
}
.anime__contents {
  padding: 20px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* #region HOME AnimeCard */

.anime__first-4 {
  width: 100%;
}

.anime__first-4--content {
  display: flex;
  justify-content: center;
  transition: all 300ms ease;
}

.anime__first-4--header,
.anime__remains--header {
  margin: 32px 0;
  transition: all 300ms ease;
}

.anime__remains--content {
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transition: all 300ms ease;
}

.anime-card__skeleton,
.anime-card {
  width: 100%;
  aspect-ratio: 156 / 300;
  max-height: 320px;
  max-width: 160px;
  border-radius: 20px 20px 8px 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px #00000085;
  margin: 20px 8px;
}

.anime-card__skeleton--img {
  width: 105.26%;
}

.anime-card__skeleton--img,
.anime-card__img {
  object-fit: cover;
  transition: all 600ms ease;
  aspect-ratio: 160/234.08;
  transform: scale(1.2);
  width: 100%;
  height: 100%;
}

.anime-card__skeleton--img-wrapper,
.anime-card__img--wrapper {
  width: 100%;
  height: 80%;
  overflow: hidden;
  position: relative;
  transition: all 300ms ease;
}
.anime-card__img--wrapper:hover .anime-card__img {
  filter: blur(4px);
  transform: scale(1.3);
}
.anime-card__img--wrapper:hover .anime-card__cover {
  opacity: 1;
}

.anime-card__skeleton--cover {
  background-color: #ddd;
  background-image: linear-gradient(
    90deg,
    #6471bb 0px,
    #7281d2 50%,
    #6471bb 100%
  );
  background-size: 200% 100%;
  animation: pulse 1.5s infinite linear;
}

.anime-card__skeleton--cover,
.anime-card__cover {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 300ms ease;
}

.anime-card__cover {
  background-color: #1a0441b4;
  opacity: 0;
}

.anime-card__img--wrapper:hover .anime-card__desc {
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.anime-card__desc {
  position: absolute;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  color: white;
  line-height: 1;
  font-weight: 400;
  font-size: 18px;
  overflow-y: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 12;
   line-clamp: 12;
  -webkit-box-orient: vertical;
  transform: translate(-50%, 50%);
  left: 50%;
  opacity: 0;
  transition: all 600ms ease;
}
.anime-card__skeleton--title,
.anime-card__title {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
   line-clamp: 2;
  -webkit-box-orient: vertical;
  aspect-ratio: 160 / 60;
}

.anime-card__skeleton--title--wrapper,
.anime-card__title--wrapper {
  background-color: #b1c0ed;
  box-shadow: inset 0 0 12px 4px #0a1c5036;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 20%;
  padding: 0 12px;
  transition: all 300ms ease;
}

.anime-card__skeleton--title--wrapper {
  padding-top: 12px;
  padding-bottom: 12px;
}

.anime-card:hover .anime-card__title--wrapper,
.anime-card__title--wrapper:hover {
  background-color: #e2871f;
  color: #2e1147;
  text-decoration: underline;
}

.anime__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  width: 100%;
  max-width: 500px;
  margin-top: 12px;
}

.anime__pagination--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  aspect-ratio: 1/1;
  border-radius: 50%;
  padding: 20px;
  max-width: 40px;
  max-height: 40px;
  overflow: hidden;
  background-color: rgb(96 115 238 / 86%);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.523);
}
.anime__pagination--wrapper:nth-child(2) {
  padding: 28px;
}
/* #endregion */

/* #region HOME AnimeRank */
.anime__top-10 {
  width: 100%;
  background-color: #5d6ae262;
  border-radius: 0 0 16px 16px;
}
.anime__top-10--header {
  background-color: #6073ee86;
  border-radius: 0 0 24px 24px;
  text-align: center;
  padding: 12px 0;
  transition: all 300ms ease;
}

.anime__top-10--content {
  padding: 16px 32px;
  padding-bottom: 24px;
}

.anime__rank-bar--skeleton,
.anime__rank-bar {
  margin: 8px 0;
  display: flex;
  align-items: center;
}

.anime__rank--skeleton,
.anime__rank {
  width: 20%;
}

.rank__img--skeleton,
.rank__img {
  width: 100%;
  object-fit: contain;
}
.rank__img--wrapper--skeleton,
.rank__img--wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: -2px 0px 8px 4px #5d6ae27e;
}

.rank__img--cover--skeleton {
  transform: rotate(45deg) scale(1.3);
  background-size: 200% 100%;
  background-image: linear-gradient(
    90deg,
    #6471bb 0px,
    #7281d2 50%,
    #6471bb 100%
  );
  animation: pulse 3s infinite linear;
}

.skeleton__spinner {
  color: rgba(255, 255, 255, 0.539);
}

.rank__img--cover--skeleton,
.rank__img--cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.rank__img--cover {
  background-color: #00000085;
}
.rank__number--skeleton,
.rank__number {
  position: absolute;
  font-size: 32px;
  font-weight: 900;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 300ms ease;
}

.rank__title--skeleton {
  background-size: 200% 100%;
  background-image: linear-gradient(
    90deg,
    #ac8ae4 0px,
    #8264b3 50%,
    #ac8ae4 100%
  );
  animation: pulse 3s infinite linear;
}

.rank__title--skeleton,
.rank__title {
  display: flex;
  align-items: center;
  width: 80%;
  background-color: #ac8ae4;
  border-radius: 0 8px 8px 0;
  box-shadow: 4px 4px 8px 4px #5d6ae27e;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.04em;
  overflow: hidden;
  white-space: nowrap;
  transition: all 300ms ease;
  padding: 10px 12px;
}
.rank__title--text {
  transition: transform 5s ease;
}
.anime__rank-bar:hover .rank__title {
  background-color: #8e4bfa;
  color: white;
}
.anime__rank-bar:hover .rank__number {
  color: #f3ff45;
}
.anime__rank-bar:hover .rank__title--text {
  transform: translate(-300px);
  transition: transform 5s ease 450ms;
}
/* #endregion */

.featured {
  width: 30%;
  row-gap: 24px;
}
.featured .post-box {
  width: 100%;
}
.featured .post-box__post,
.featured .post-box__btn {
  background-color: #a0b3ec78;
}

/* #endregion */

/* #endregion */

/* #region INFO PAGE */

.template__content--skeleton,
.template__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6349d893;
  padding: 40px;
  border-radius: 32px;
  position: relative;
  margin-bottom: 32px;
  box-shadow: 0 0 0 #2a1c6893, 5px 0 24px 0 #2a1c6893;
  overflow: hidden;
  transition: all 300ms ease;
  opacity: 1;
  visibility: visible;
}

.template__img--skeleton {
  aspect-ratio: 243.7 / 349.86;
}
.template__img {
  width: 100%;
  aspect-ratio: 243.7 / 349.86;
  transform: scale(1.2);
  transition: all 300ms ease;
}

.template__img--skeleton {
  opacity: 0;
}
.template__img--wrapper--skeleton,
.template__img--wrapper {
  width: 30%;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 12px;
  box-shadow: 0 6px 8px;
  position: relative;
  transition: all 300ms ease;
}

.template__img--wrapper--skeleton {
  background-color: #ddd;
  background-image: linear-gradient(
    90deg,
    #6471bb 0px,
    #7281d2 50%,
    #6471bb 100%
  );
  background-size: 200% 100%;
  animation: pulse 1.5s infinite linear;
}
.template__details--skeleton,
.template__details {
  display: flex;
  flex-direction: column;
  padding: 32px 40px;
  background-color: #f5f5f5f1;
  box-shadow: inset 0px 0px 8px 4px #5052ba93;
  border-radius: 32px;
  transition: all 300ms ease;
}

.template__title--skeleton,
.template__title {
  position: relative;
  margin-top: 12px;
  border-radius: 4px;
  overflow: hidden;
  padding: 8px 20px;
  transition: all 300ms ease;
  box-shadow: 0 2px 4px 4px #0000002d;
}

.template__glass--skeleton,
.template__glass {
  position: absolute;
  filter: blur(8px);
  background-color: #100c411c;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.anime__recommendations--header,
.template__title {
  font-size: 32px;
  margin-bottom: 20px;
  transition: all 300ms ease;
}
.add-to-list--btn {
  display: flex;
  align-items: center;
  column-gap: 12px;
  font-size: 16px;
  font-weight: 550;
  margin-bottom: 20px;
  background-color: rgb(108 129 238);
  transition: all 300ms ease;
}

.add-to-list--btn .fa-plus {
  animation: bob 2s infinite;
}

.back__btn {
  position: absolute;
  z-index: 1;
  top: 40px;
  left: 40px;
  font-weight: 600;
  padding: 16px 24px;
  border-radius: 16px;
  font-size: 20px;
  background-color: #a7dcffc2;
  transition: all 300ms ease;
}
.back__btn .fa-arrow-left {
  margin-right: 8px;
}

.add-to-list--btn:hover,
.back__btn:hover {
  filter: brightness(1.2);
}

.template__share {
  display: flex;
  justify-content: center;
}

.template__summary--skeleton,
.template__summary {
  display: flex;
  font-size: 20px;
  text-indent: 4em;
  font-weight: 550;
}

.template__summary--skeleton,
.template__extra--skeleton p {
  color: rgba(177, 177, 177, 0.808);
}

.template__title--skeleton {
  color: rgba(177, 177, 177, 0);
  margin-bottom: 20px;
  background-size: 200% 100%;
  background-image: linear-gradient(
    90deg,
    #b6b6b641 0px,
    #97979720 50%,
    #b6b6b641 100%
  );
  animation: pulse 3s infinite linear;
}

.template__self-promo {
  margin-top: 12px;
  font-weight: 700;
}

.template__g-rating {
  padding: 6px 20px;
  background-color: rgb(236, 6, 6);
  color: white;
  font-weight: 700;
  font-size: 20px;
  border-radius: 12px;
  border: 1px solid rgb(194, 12, 12);
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: 1;
}

.anime__recommendations--content {
  background-color: #79a3d7ba;
  border-radius: 16px;
  padding: 20px;
  box-shadow: -5px 0 24px 0 #417c9e98, 5px 0 24px 0 #86c9f098;
  transition: all 300ms ease;
}

.anime__recommendations--content .anime__remains--content {
  padding: 0;
}

.anime__recommendations--header {
  text-align: center;
  padding-top: 20px;
}

.template__share--skeleton .share-box,
.template__share .share-box {
  padding: 0;
  margin: 28px 0;
}

.template__content--skeleton .share-box__title,
.template__content .share-box__title {
  font-size: 16px;
  font-weight: 600;
}

.template__content--skeleton .share-box__btns,
.template__content .share-box__btns {
  column-gap: 6px;
}

.template__content--skeleton .share-box__btn,
.template__content .share-box__btn {
  font-size: 10px;
}

.template__extra--skeleton p,
.template__extra p {
  line-height: 2;
}
.template__cover-bg--skeleton,
.template__cover-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  object-fit: contain;
  transform: translate(-50%, -50%) scale(1.2);
  height: 100%;
  z-index: -1;
  filter: blur(16px) grayscale(0.8);
  overflow: hidden;
}

/* #endregion */

/* #region GLOBAL */

/* #region SHARE BOX */

.share-box {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.share-box__title {
  font-weight: 450;
  font-size: 32px;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: color 300ms ease;
}
.share-box__btns {
  display: flex;
  column-gap: 20px;
  align-items: center;
  margin-left: 20px;
}
.share-box__more-btn {
  display: none;
  animation: rainbowBg 5s linear infinite;
}
.share-box__btn .fa-linkedin-in,
.share-box__btn .fa-x-twitter,
.share-box__btn .fa-meta,
.share-box__btn .fa-reddit-alien,
.share-box__btn .fa-share {
  margin-right: 6px;
}

.share-box__btn {
  display: flex;
}

.share-box__more-btn,
.share-box__btn {
  border-radius: 50px;
  padding: 8px 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.03em;
  align-items: center;
}
.share-box__btn:nth-child(1) {
  background-color: #2368c5;
}
.share-box__btn:nth-child(2) {
  background-color: #000000;
}
.share-box__btn:nth-child(3) {
  background-color: #4b69b8;
}
.share-box__btn:nth-child(4) {
  background-color: #e84900;
}
.share-box__btn:nth-child(5) {
  background-color: #a3ce08;
}
.share-box__btn:hover,
.share-box__more-btn:hover {
  transform: translateY(-4px);
  filter: brightness(1.1);
}

/* #endregion */

/* #region SiteLogo */
.anime__title {
  position: relative;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 0.04em;
  margin-bottom: 16px;
  margin-left: 12px;
  display: flex;
  align-items: center;
}

.logo__diamond {
  transform: rotate(45deg);
  width: 60px;
  height: 60px;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #25234756;
  border-radius: 8px;
}
.anime__logo {
  width: 100%;
  height: 100%;
  filter: brightness(1.3);
  transform: rotate(-45deg);
}
/* #endregion */
/* #region ContactModal */

.contact-modal input,
.contact-modal textarea {
  width: 100%;
  background-color: #3e4a96;
  color: white;
  outline: none;
  border: 3px solid rgb(214, 214, 214);
  border-top: none;
  border-right: none;
  border-left: none;
  height: 40px;
}

.contact-modal input:hover,
.contact-modal textarea:hover {
  border-color: white;
}

.contact-modal input:focus,
.contact-modal textarea:focus {
  border-color: #74ffff;
}
.contact-modal textarea {
  resize: vertical;
  height: 100px;
}
.contact-modal label {
  font-size: 14px;
  font-weight: bold;
}

.contact-modal {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1400px;
  height: 700px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  z-index: 60;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms ease;
}
.show {
  opacity: 1;
  visibility: visible;
}

.contact-modal__about,
.contact-modal__contact {
  width: 50%;
  padding: 40px 72px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  transition: all 300ms ease;
}
.contact-modal__title {
  font-size: 26px;
}
.contact-modal__subtitle {
  font-size: 14px;
  margin: 12px 0 24px 0;
}
.contact-modal__para {
  line-height: 1.75;
  padding: 12px;
  background-color: #f5f5f5cc;
  border-radius: 8px;
}
.contact-modal__about {
  background-color: #85f4ff;
  color: #2b2638;
  transform: translateX(-110%);
}
.show .contact-modal__about,
.show .contact-modal__contact {
  transform: translateX(0%);
}
.contact-modal__languages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 12px;
  padding: 12px 0;
  border-radius: 8px;
  background-image: linear-gradient(
    to top,
    #691dce40 0%,
    #7090e93b 25%,
    #f5f5f5 100%
  );
}
.contact-modal__language {
  width: 25%;
  padding: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
}
.contact-modal__language--img {
  width: 100%;
}
.contact-modal__language:nth-child(5) .contact-modal__language--img {
  filter: saturate(2.5);
}
.contact-modal__language:nth-child(7) .contact-modal__language--img {
  width: 104.9%;
}
.contact-modal__language:nth-child(8) .contact-modal__language--img {
  width: 75.34%;
}
.contact-modal__language--name {
  position: absolute;
  bottom: -10px;
  transform: scale(0);
  transition: transform 300ms ease;
  font-weight: bold;
}
.contact-modal__language:hover {
  transform: scale(0.9);
  filter: brightness(80%);
}
.contact-modal__language:hover .contact-modal__language--name {
  transform: scale(1);
}
.contact-modal__contact {
  background-color: #3e4a96;
  color: white;
  transform: translateX(110%);
}

.form__item:nth-child(3) textarea {
  margin-top: 12px;
  margin-bottom: 20px;
}
.form__item input {
  padding-left: 8px;
}
.form__submit {
  background-color: #3646ac;
  border: 2px solid #3646ac;
  color: white;
  font-weight: bold;
  max-width: 240px;
  width: 100%;
  padding: 12px 24px;
  font-size: 20px;
  border-radius: 4px;
  /* transition: all 0ms; */
  transition-property: border color background-color;
  transition-duration: 300ms;
  transition-timing-function: ease;
}
.form__submit:hover {
  border-color: white;
  background-color: transparent;
}
.form__submit:active {
  color: #74ffff;
  border-color: #74ffff;
}

.contact-modal__overlay--loading {
  background-color: #242424;
  font-size: 80px;
  opacity: 0;
  z-index: -1;
}
.contact-modal__overlay--success {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.75;
  letter-spacing: 0.01em;
  background-color: rgb(0, 108, 158);
  text-align: center;
  padding: 72px;
  opacity: 0;
  z-index: -1;
}
.contact-modal__overlay--loading,
.contact-modal__overlay--success {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-modal__overlay--visible {
  z-index: 1;
  opacity: 1;
}
.contact-modal__exit {
  position: absolute;
  top: 32px;
  right: 32px;
  color: white;
  font-size: 36px;
  z-index: 1;
  transition: transform 300ms ease;
}
.contact-modal__exit:hover {
  transform: scale(1.2);
}
.contact-modal__exit:active {
  transform: scale(1);
}
/* #endregion */
/* #region Footer */

.footer__row {
  margin-top: 40px;
}
.footer__content {
  margin: 0 auto;
  display: flex;
  padding: 12px 32px;
  padding-top: 20px;
  flex-direction: column;
  align-items: center;
  border-radius: 24px 24px 0 0;
  background-color: #162ecaa3;
  max-width: 1920px;
}
.footer__content .anime__title {
  margin: 0;
  color: white;
  font-size: 32px;
  cursor: pointer;
}
.footer__content .anime__logo {
  width: 40px;
  height: 40px;
}
.footer__content .logo__diamond {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}
.footer__links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;

  margin: 8px 0;
  column-gap: 24px;
  font-weight: 600;
  letter-spacing: 0.02em;
}

.footer__link a {
  color: black;
}

.footer-link__hover-effect {
  position: relative;
}
.footer-link__hover-effect:hover::after {
  width: 100%;
  left: 0;
}

.footer-link__hover-effect:after {
  content: "";
  position: absolute;
  background-color: #252347;
  height: 2px;
  bottom: -1px;
  right: 0;
  width: 0%;
  transition: all 300ms ease;
}

.copyright {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 500;
}
/* #endregion */
/* #region LinkHoverEffect */
.link__hover-effect {
  position: relative;
}
.link__hover-effect:after {
  content: "";
  position: absolute;
  background-color: #252347;
  height: 3px;
  bottom: 10px;
  right: 0;
  width: 0%;
  transition: all 300ms ease;
}
.link__hover-effect:hover::after {
  left: 0;
  width: 100%;
}
/* #endregion */
/* #region DARK THEME */

/* #region DT Global */
.dark-theme ::selection {
  background-color: greenyellow;
  color: black;
}
.theme__toggle {
  animation: sway 2s infinite ease-in-out;
  font-size: 32px;
  display: flex;
  background-color: transparent;
  box-shadow: none;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.theme__toggle .fa-sun {
  display: none;
}
.theme__toggle .fa-moon,
.theme__toggle .fa-sun {
  padding: 12px;
  transition: all 300ms ease;
}
.theme__toggle:hover .fa-moon,
.theme__toggle:hover .fa-sun {
  transform: scale(1.2);
}

.theme__toggle:active .fa-moon,
.theme__toggle:active .fa-sun {
  animation: quickSpin 600ms;
}
.dark-theme .theme__toggle .fa-sun {
  display: block;
}
.dark-theme .theme__toggle .fa-moon {
  display: none;
}
.dark-theme .theme__toggle {
  color: white;
}
.dark-theme {
  background-color: #280c56;
}
.dark-theme .primary {
  color: #2b8dee;
}
.dark-theme .share-box__title,
.dark-theme .contents__info--title,
.dark-theme .contents__info--para,
.dark-theme .contents__info--list-title,
.dark-theme .post-box__title,
.dark-theme .post-box__post--stat-2,
.dark-theme .post-box__post--title,
.dark-theme .post-box__btn,
.dark-theme .footer__links,
.dark-theme .footer__link a,
.dark-theme .copyright,
.dark-theme .nav__group,
.dark-theme .nav__menu--btn,
.dark-theme .login,
.dark-theme .anime__first-4--header,
.dark-theme .anime__remains--header,
.dark-theme .anime__top-10--header,
.dark-theme .rank__title,
.dark-theme .rank__title--skeleton,
.dark-theme .nav__menu--close,
.dark-theme .nav__menu--link,
.dark-theme .back__btn,
.dark-theme .add-to-list--btn,
.dark-theme .template__content,
.dark-theme .anime__recommendations--header,
.dark-theme .template__self-promo {
  color: white;
}

.dark-theme .template__summary--skeleton,
.dark-theme .template__extra--skeleton p {
  color: rgba(255, 255, 255, 0.634);
}

/* #region DT ContactModal */
.dark-theme .contact-modal__about {
  background-color: #43237e;
}
.dark-theme .contact-modal__contact {
  background-color: #24185a;
}
.dark-theme .contact-modal__title {
  color: white;
}
.dark-theme .contact-modal__subtitle--about {
  color: yellow;
}
.dark-theme .contact-modal__para {
  background-color: #22181895;
  color: white;
}
.dark-theme .contact-modal__languages {
  background-image: linear-gradient(
    to top,
    #381a70 0%,
    #7090e93b 25%,
    #22181895 100%
  );
}
.dark-theme .contact-modal input,
.dark-theme .contact-modal textarea {
  background-color: #24185a;
}
.dark-theme .contact-modal input:focus,
.dark-theme .contact-modal textarea:focus {
  border-color: #6535bd;
}
.dark-theme .form__submit:hover {
  background-color: #24185a;
}
.dark-theme .form__submit:active {
  border-color: #6535bd;
  color: #6535bd;
}
.dark-theme .contact-modal__overlay--success {
  background-color: #6e38b1;
}
/* #endregion */

/* #region DT PostBox */
.dark-theme .post-box__post,
.dark-theme .post-box__btn {
  background-color: #2a3a697a;
}
.dark-theme .post-box__post--stat-1,
.dark-theme .post-box__post--para,
.dark-theme .profile__username {
  color: #acacac;
}
.dark-theme .post-box__post--stat-2:hover,
.dark-theme .profile__username:hover {
  color: #1664ff;
}
.dark-theme .footer__content {
  background-color: #17278ba3;
}
/* #endregion */

/* #endregion */
/* #region DT IntroPage */
/* #region DT IntroPage-Nav */

.dark-theme .intro-nav {
  background: #162791da;
}

.dark-theme .intro-nav,
.dark-theme .intro-nav a {
  color: white;
}

.dark-theme .footer-link__hover-effect:after,
.dark-theme .link__hover-effect:after {
  background-color: white;
}
/* #endregion */
/* #region DT IntroPage-SearchBox */
.dark-theme .intro__search-box--box {
  box-shadow: 0 12px 24px #06060dc9;
}

.dark-theme .intro__search-box--search-bar input {
  background-color: #c0c0c0;
}
.dark-theme .home__searchbar2 input,
.dark-theme .home__searchbar input,
.dark-theme .intro__search-box--search-bar input {
  color: rgb(54, 40, 14);
}
.dark-theme .intro__search-box--search-bar input:focus {
  border: 2px solid rgb(103, 19, 142);
}
.dark-theme button:hover {
  filter: brightness(0.9);
}
.dark-theme .intro__search-bar--btn,
.dark-theme .intro__search-box--btn {
  background-color: #853ff5c7;
  color: black;
}
.dark-theme .intro__search-box--btn {
  color: rgb(0, 0, 0);
}
.dark-theme .intro__search-box--desc {
  color: #c0c0c0;
  font-weight: 600;
}
.dark-theme .arrow--wrapper {
  background-color: black;
  color: #c0c0c0;
  transition: color background-color 300ms ease;
}
.dark-theme .intro__search-box--btn:hover .fa-arrow-right {
  color: #7648c0c7;
}
.dark-theme .intro__search-box--cover {
  background-image: linear-gradient(
    to right,
    #2e278ffa 40%,
    #6e38b176 75%,
    #97256952 100%
  );
}
/* #endregion */
/* #region DT IntroPage-InfoBox */
.dark-theme .intro__info-box--box {
  background-color: #0d0a429c;
}
/* #endregion */

/* #endregion */
/* #endregion */
/* #region DT HomePage */
.dark-theme .home__nav {
  background: #16269169;
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
  border: 1px solid #162791ab;
}

.dark-theme .anime__top-10--header {
  background-color: #162791da;
}
.dark-theme .rank__img--cover--skeleton {
  background-image: linear-gradient(
    90deg,
    #6843a4 0px,
    #552e94 50%,
    #6843a4 100%
  );
}
.dark-theme .rank__title--skeleton {
  background-image: linear-gradient(
    90deg,
    #5335a4 0px,
    hwb(256 6% 20%) 50%,
    #5335a4 100%
  );
}
.dark-theme .anime-card__skeleton--title--wrapper,
.dark-theme .anime-card__title--wrapper {
  background-color: #031274;
  color: white;
  box-shadow: inset 0 0 12px 4px #0a1b50;
}

.dark-theme .anime-card__skeleton--cover {
  background-image: linear-gradient(
    90deg,
    #5335a4 0px,
    #5225ce 50%,
    #5335a4 100%
  );
}

.dark-theme .anime-card__skeleton--title--wrapper:hover,
.dark-theme .anime-card__title--wrapper:hover {
  box-shadow: inset 0px 0px 8px 4px #00000180;
}
.dark-theme .anime-card__skeleton:hover .anime-card__title--wrapper,
.dark-theme .anime-card:hover .anime-card__title__wrapper {
  box-shadow: inset 0px 0px 8px 4px #5a3a2280;
}

.dark-theme .nav__menu--bg {
  background-color: #34037494;
  box-shadow: 0px 0px 32px 24px #34037494;
}
.dark-theme .nav__menu--backdrop {
  background-color: #15162cf6;
}
.dark-theme .anime__pagination--wrapper {
  background-color: #6818d1f1;
  color: white;
}
.dark-theme .login {
  background-color: #6818d1f1;
}

.dark-theme .anime__first-4--content,
.dark-theme .anime__remains--content {
  background-color: #29349366;
  box-shadow: 0px 0px 32px 12px #29339380;
  border-radius: 32px;
}
.dark-theme .home__search--btn {
  color: black;
}
.dark-theme .anime-card__title--wrapper:hover {
  background-color: #875af1;
  color: #fff52f;
}
.dark-theme .rank__title {
  background-color: #6818d1f1;
}
.dark-theme .rank__title,
.dark-theme .rank__img--wrapper {
  box-shadow: 4px 4px 8px 4px #1f28777e;
}

.dark-theme .featured .post-box__post,
.dark-theme .featured .post-box__btn {
  background-color: #14192968;
}
.dark-theme .featured .post-box__btn {
  box-shadow: 0 4px 8px #01031467;
}

/* #endregion */

/* #region DT InfoPage */

.dark-theme .template__content--skeleton,
.dark-theme .template__content {
  background-color: #15084d93;
  box-shadow: 0 0 0 #417c9e98, 5px 0 24px 0 #86c9f098;
}

.dark-theme .template__details--skeleton,
.dark-theme .template__details {
  background-color: #0a073fbe;
  box-shadow: inset 0px 0px 8px 4px #5835a893;
}

.dark-theme .template__img--wrapper--skeleton,
.dark-theme .template__img--wrapper {
  box-shadow: 0 6px 8px #110346a6;
}

.dark-theme .template__img--wrapper--skeleton {
  background-image: linear-gradient(
    90deg,
    #100c43 0px,
    #140e68 50%,
    #100c43 100%
  );
}

.dark-theme .back__btn {
  background-color: #3c13ae;
}

.dark-theme .add-to-list--btn {
  background-color: #6114c7;
}

.dark-theme .anime__recommendations--content .anime__remains--content {
  background-color: transparent;
  box-shadow: none;
}

.dark-theme .anime__recommendations--content {
  background-color: #03127442;
}

/* #endregion */

/* #region ANIMATIONS */
@keyframes sway {
  0% {
    transform: rotate(-20deg) scale(1);
  }
  50% {
    transform: rotate(20deg) scale(1);
  }
  100% {
    transform: rotate(-20deg) scale(1);
  }
}
@keyframes quickSpin {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes bob {
  0% {
    transform: translateY(0px);
  }
  10% {
    transform: translateY(4px);
  }
  20% {
    transform: translateY(-4px);
  }
  30% {
    transform: translate(0px);
  }
  100% {
    transform: translate(0px);
  }
}

@keyframes rainbowBg {
  0% {
    background-color: rgb(255, 0, 0, 0.822);
    color: rgb(0, 255, 0);
  }
  14.2857% {
    background-color: rgb(255, 127, 0, 0.822);
    color: rgb(0, 0, 255);
  }
  28.5714% {
    background-color: rgb(255, 255, 0, 0.822);
    color: rgb(75, 0, 130);
  }
  43.8571% {
    background-color: rgb(0, 255, 0, 0.822);
    color: rgb(255, 0, 0);
  }
  57.1428% {
    background-color: rgb(0, 0, 255, 0.822);
    color: rgb(255, 127, 0);
  }
  71.4285% {
    background-color: rgb(75, 0, 130, 0.822);
    color: rgb(255, 255, 0);
  }
  85.7142% {
    background-color: rgb(148, 0, 211, 0.822);
    color: rgb(87, 255, 104);
  }
  100% {
    background-color: rgba(255, 0, 0, 0.822);
    color: rgb(0, 255, 0);
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes pulse {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* #endregion */
/* #region Media Queries */
@media (max-width: 1400px) {
  .rank__title--skeleton,
  .rank__title {
    font-size: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .rank__img--wrapper--skeleton,
  .rank__img--wrapper {
    border-radius: 16px;
  }
}

@media (max-width: 1200px) {
  .contact-modal__para {
    font-size: 14px;
  }
  .anime-card__skeleton--title,
  .anime-card__title {
    font-size: 16px;
    max-height: 46px;
  }
  .post-box__post--stat-2 {
    padding-right: 0;
  }

  /* #region IntroPage */
  .intro__nav--link:nth-child(4) {
    display: none;
  }
  .intro__search-box--box {
    padding: 48px;
  }
  .intro__search-box--contents .logo__diamond {
    width: 48px;
    height: 48px;
  }

  .intro__search-box--contents .anime__title {
    font-size: 40px;
  }
  .share-box__title {
    font-size: 20px;
  }
  .share-box__btn {
    font-size: 16px;
  }
  .intro__search-box--search-bar input {
    font-size: 20px;
    padding: 12px;
  }

  .intro__search-bar--btn {
    font-size: 24px;
    padding: 16px;
  }
  .intro__search-box--btn {
    font-size: 20px;
    padding: 12px;
    margin-top: 12px;
  }
  /* #endregion */

  .anime-card__desc {
    font-size: 14px;
  }

  .nav__menu--backdrop {
    right: 70%;
  }

  .rank__title--skeleton,
  .rank__title {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .rank__img--wrapper--skeleton,
  .rank__img--wrapper {
    border-radius: 14px;
  }
}
@media (max-width: 1024px) {
  /* #region IntroPage */
  .intro__nav--link:nth-child(3) {
    display: none;
  }
  .intro__search-box--contents {
    width: 70%;
  }
  .intro__search-box--desc {
    font-size: 16px;
    -webkit-line-clamp: 3;
     line-clamp: 3;
  }

  .share-box__title {
    font-size: 24px;
    align-items: flex-end;
  }

  .share-box__btns {
    justify-content: center;
    flex-wrap: wrap;
    /* margin: 0; */
    gap: 12px;
  }
  .share-box__btn {
    font-size: 12px;
  }
  .info-box__contents--info {
    width: 55%;
  }
  .contents__info--title,
  .post-box__title {
    font-size: 24px;
  }
  .contents__info--list-title {
    font-size: 20px;
    margin-left: 0;
  }
  .contents__info--para {
    font-size: 16px;
  }
  .post-box {
    width: 45%;
  }
  .post-box__post--stats {
    margin-top: 12px;
  }
  .post-box__post--stat-1 {
    font-size: 14px;
  }
  .post-box__post--stat-2 {
    padding: 0;
  }
  .post-box__post--title {
    font-size: 22px;
  }
  .post-box__post--para {
    font-size: 14px;
  }
  .profile__username {
    font-size: 16px;
  }
  .anime__contents {
    width: 65%;
  }
  .featured {
    width: 35%;
  }
  .anime__remains--content {
    padding: 0;
  }
  .anime-card {
    width: 20%;
    border-radius: 12px 12px 6px 6px;
  }
  .anime__contents {
    padding-left: 0;
  }
  .anime-card__title {
    font-size: 12px;
    padding: 0 12px;
  }

  .anime-card__desc {
    -webkit-line-clamp: 8;
     line-clamp: 8;
    padding: 0 6px;
  }

  .template__g-rating {
    font-size: 12px;
  }

  .template__summary--skeleton,
  .template__summary {
    font-size: 16px;
  }

  .template__share--skeleton .share-box__btns,
  .template__share .share-box__btns {
    display: none;
  }
  .template__share--skeleton .share-box__more-btn,
  .template__share .share-box__more-btn {
    display: block;
    font-size: 16px;
  }
  .back__btn {
    font-size: 16px;
    padding: 12px 16px;
  }
  .add-to-list--btn {
    font-size: 12px;
  }

  /* #endregion */
  /* .anime-card__skeleton--img {
    aspect-ratio: 108/168;
  }
  .anime-card__skeleton--title--wrapper {
    aspect-ratio: 116/44;
  } */
  .anime-card__skeleton {
    width: 20%;
  }
}
@media (max-width: 880px) {
  .contact-modal__para {
    font-size: 10px;
  }
  .contact-modal__language {
    padding: 16px 8px;
  }
  .rank__img--wrapper--skeleton,
  .rank__img--wrapper {
    border-radius: 12px;
  }
  .rank__number--skeleton,
  .rank__number {
    font-size: 24px;
  }
  .rank__title--skeleton,
  .rank__title {
    font-size: 10px;
    padding: 4px 12px;
  }
  .featured .post-box__post {
    padding: 12px 20px;
  }
  .featured .post-box__post--stat-2 {
    font-size: 16px;
  }
  .home__social--links {
    display: none;
  }
  .home__searchbar {
    margin-right: 8px;
  }
  .search__filter--word {
    display: none;
  }
  .search__filter--btns .fa-filter {
    display: block;
  }
  .login {
    display: none;
  }
  .theme__toggle .fa-sun,
  .theme__toggle .fa-moon {
    padding: 0;
  }
  .nav__group .anime__title {
    font-size: 20px;
  }
  .nav__group .logo__diamond {
    width: 16px;
    height: 16px;
  }
  .anime-card__desc {
    font-size: 10px;
  }
  .nav__menu--backdrop {
    right: 60%;
  }
}
@media (max-width: 768px) {
  .anime__first-4--content .anime-card__skeleton {
    width: 40%;
  }

  .anime__remains--content .anime-card__skeleton {
    width: 28%;
  }
  .anime__first-4--content .anime-card__desc {
    -webkit-line-clamp: 10;
     line-clamp: 10;
  }

  .anime-card__desc {
    font-size: 14px;
    -webkit-line-clamp: 6;
    line-clamp: 6;
  }

  .contact-modal__para {
    font-size: 16px;
  }

  .contact-modal {
    top: 0;
    left: 0;
    overflow-y: auto;
    transform: none;
    width: 100%;
    flex-direction: column-reverse;
    border-radius: 0;
  }
  .contact-modal__about,
  .contact-modal__contact {
    width: 100%;
    flex: 1;
    /* bottom: 0; */
  }

  .contact-modal__about {
    height: 100vh;
  }
  /* #region IntroPage */
  .intro__nav--link:nth-child(3),
  .intro__nav--link:nth-child(6) {
    display: none;
  }
  .intro__nav--link {
    font-size: 20px;
  }

  .intro__search-box--contents {
    width: 80%;
  }
  .intro__search-box--desc {
    font-size: 14px;
    -webkit-line-clamp: 3;
     line-clamp: 3;
  }
  .intro__search-box--box {
    padding: 24px 40px;
    border-radius: 40px;
  }
  .intro__search-box--contents .logo__diamond {
    width: 36px;
    height: 36px;
  }
  .intro__search-box--contents .anime__title {
    margin-bottom: 4px;
    font-size: 28px;
  }
  .intro__search-box--search-bar input {
    padding: 12px;
    font-size: 16px;
  }
  .intro__search-box--btn {
    font-size: 16px;
    font-weight: 800;
    max-width: 212px;
  }
  .intro__search-box--cover {
    background-image: linear-gradient(
      to right,
      #252347 33%,
      #3f3a3aa2 75%,
      #322d4b38
    );
  }
  .dark-theme .intro__search-box--cover {
    background-image: linear-gradient(
      to right,
      #2e278ff5 33%,
      #6e38b176 75%,
      #97256952 100%
    );
  }
  .arrow--wrapper .fa-arrow-right {
    font-size: 20px;
  }

  .intro__info-box--contents {
    display: flex;
    flex-direction: column;
  }
  .info-box__contents--info {
    width: 100%;
    padding: 40px 20px;
  }
  .post-box {
    width: 100%;
  }
  .post-box__title {
    margin-left: 20px;
  }
  .post-box__posts {
    margin: 0 auto;
  }
  .footer__links {
    font-size: 16px;
    flex-wrap: wrap;
  }
  /* #endregion */
  .anime__first-4--header {
    margin-top: 0;
  }
  .anime__contents {
    width: 60%;
  }
  .featured {
    width: 40%;
  }

  .anime__first-4--content {
    flex-wrap: wrap;
  }

  .anime__first-4--content .anime-card {
    width: 40%;
  }

  .anime-card {
    width: 28%;
  }
  .template__summary--skeleton,
  .template__summary {
    font-size: 12px;
  }
  .template__self-promo {
    font-size: 12px;
  }
  .back__btn {
    top: 20px;
    left: 20px;
    border-radius: 12px;
  }
  .template__share--skeleton
    .share-box__more-btn
    .template__share
    .share-box__more-btn {
    max-height: 44px;
  }
}
@media (max-width: 640px) {
  /* #region IntroPage */
  .share-box__title {
    font-size: 20px;
    margin: 0;
    margin-right: 8px;
  }
  .share-box__btns {
    margin: 0;
  }

  .anime__contents {
    width: 100%;
  }
  .featured {
    display: none;
  }
  .anime__first-4--content {
    flex-wrap: nowrap;
  }

  .anime__first-4--content .anime-card__desc {
    -webkit-line-clamp: 6;
     line-clamp: 6;
  }

  .anime-card__desc {
    font-size: 14px;
    -webkit-line-clamp: 8;
     line-clamp: 8;
  }

  .nav__menu--backdrop {
    right: 55%;
  }
  .anime-tab {
    padding-bottom: 0;
  }
  .home__container {
    padding-bottom: 0;
  }

  .template__img--wrapper--skeleton,
  .template__img--wrapper {
    width: 40%;
  }

  .template__g-rating {
    padding: 4px 8px;
    border-radius: 6px;
  }
  /* #endregion */
}
@media (max-width: 580px) {
  .contact-modal__para {
    font-size: 12px;
  }
  /* #region IntroPage */
  .intro__search-box--row {
    padding: 0 24px;
  }
  .intro__search-box--contents {
    width: 100%;
  }
  .intro__search-box--btn {
    display: none;
  }
  .share-box {
    padding-top: 0;
    flex-direction: column;
    align-items: center;
  }
  .share-box__title {
    margin: 0;
    margin-bottom: 12px;
  }

  .anime__remains--content .anime-card__desc {
    display: none;
  }
  .nav__menu--backdrop {
    right: 50%;
  }
  /* #endregion */
}
@media (max-width: 480px) {
  /* #region IntroPage */
  .intro__nav--link:nth-child(5) {
    display: none;
  }
  .intro__search-box--search-bar input {
    font-size: 12px;
    padding: 8px;
  }
  .intro__search-bar--btn {
    font-size: 16px;
    padding: 12px;
    border-radius: 12px;
  }
  .intro__search-box--desc {
    line-height: 1.5;
  }
  .intro__info--row {
    padding: 0 20px;
  }

  .home__searchbar {
    display: none;
  }

  .home__searchbar2 {
    margin: 4px;
    width: 98%;
    display: block;
  }

  .search__btn {
    display: block;
    /* display: flex; */
    width: 100%;
    justify-content: center;
  }

  .home__community {
    margin: 0 12px;
  }

  .home__nav .anime__title {
    margin: 0 4px;
  }

  .languages__title,
  .community__title {
    display: none;
  }

  .home__language--toggle {
    margin: 0;
  }

  .anime__first-4--content {
    flex-wrap: wrap;
  }

  .home__row {
    padding: 0 12px;
  }
  .anime-card {
    width: 25%;
  }
  .nav__menu--backdrop {
    right: 0;
  }
  .nav__menu--link {
    font-size: 28px;
  }
  .nav__menu--close {
    top: 4px;
  }
  .back__btn {
    font-size: 12px;
  }
  .template__content--skeleton,
  .template__content {
    padding: 40px 24px;
  }
  .template__details--skeleton,
  .template__details {
    padding: 32px 24px;
  }
  .anime-info-tab {
    padding-top: 44px;
  }
  /* #endregion */
}
@media (max-width: 420px) {
  /* #region IntroPage */
  .intro__nav--links {
    padding-left: 12px;
    padding-right: 12px;
  }
  .intro__nav--link {
    font-size: 16px;
  }
  .share-box__btns {
    display: none;
  }
  .share-box__more-btn {
    display: block;
    font-size: 16px;
    animation: rainbowBg 5s linear infinite;
    /* transition: animation; */
  }
  .template__img--wrapper--skeleton,
  .template__img--wrapper {
    width: 50%;
  }
  .back__btn {
    font-size: 10px;
    padding: 6px 10px;
    border-radius: 6px;
  }
  .back__btn .fa-arrow-left {
    margin-right: 2px;
  }

  .template__share .share-box__title,
  .template__share--skeleton .share-box__title,
  .template__share--skeleton .share-box__more-btn,
  .template__share .share-box__more-btn {
    font-size: 12px;
  }
  .anime__remains--content .anime-card__title {
    padding: 0;
  }
  /* #endregion */
}
@media (max-width: 360px) {
  /* #region IntroPage */
  .intro__search-box--row {
    padding: 0 16px;
  }
  .intro__search-box--box {
    border-radius: 28px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .intro__search-box--contents .anime__title {
    margin: 0px;
    font-size: 24px;
  }
  .intro__search-box--contents .logo__diamond {
    width: 28px;
    height: 28px;
    margin: 4px;
  }
  .intro__search-box--desc {
    width: 100%;
    font-size: 12px;
  }
  .intro__search-bar--btn {
    position: absolute;
    right: 1%;
    top: 50%;
    transform: translate(-1%, -50%);
    padding: 6px;
    border-radius: 8px;
  }
  .intro__search-box--search-bar {
    position: relative;
  }

  .home__nav .anime__title {
    font-size: 14px;
  }

  .template__summary--skeleton,
  .template__summary,
  .template__self-promo {
    font-size: 10px;
  }

  /* #endregion */
}

/* #endregion */

/* #endregion */
